.homeAboutContainer {
  width: 100%;
  min-height: 700px;
  position: absolute;
  inset: 0;
}
.homeAboutContainer .homeImageDiv {
  width: 100%;
  height: 100%;
  position: relative;
}
.homeAboutContainer .homeImageDiv img {
  width: 100%;
  height: 80%;
}
.homeAboutContainer .homeImageDiv .fadeOutTop {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(0, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
}
.homeAboutContainer .homeImageDiv .fadeOutBottom {
  position: absolute;
  bottom: 19%;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
}
.homeAboutContainer .homeImageDiv .aboutIconArea {
  position: absolute;
  margin: auto;
  inset: 0;
  width: fit-content;
  height: 60%;
  display: flex;
  align-items: center;
}
.homeAboutContainer .homeImageDiv .aboutIconArea .aboutLogo {
  width: 100%;
  height: 100%;
}
.homeAboutContainer .aboutTextArea {
  position: absolute;
  bottom: 0;
  padding: 0 412px;
  text-align: center;
  align-items: center;
}
.homeAboutContainer .aboutTextArea h1 {
  font: 600 58px/150% "Manrope", sans-serif;
  color: var(--white);
}
.homeAboutContainer .aboutTextArea p {
  margin-top: 14px;
  font: 400 18px/150% "Manrope", sans-serif;
  color: var(--grey60);
}
.homeAboutContainer .aboutTextArea .watchButton {
  color: var(--white);
  font: 500 18px/150% "Manrope", sans-serif;
  border-radius: 8px;
  padding: 18px 24px;
  background-color: var(--red45);
  display: flex;
  gap: 8px;
  align-items: center;
  margin: 50px auto 16px auto;
}
.homeContainer {
  color: var(--white);
  max-width: 100%;
}
.gap30 {
  gap: 30px !important;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 150px;
  padding: 0 0 50px 0;
}
.contentContainer .fieldS {
  border: solid 1px var(--black15);
  border-radius: 12px;
  padding: 50px;
  max-width: 100%;
  min-width: 0;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
.contentContainer .fieldS legend .title {
  border-radius: 8px;
  padding: 10px 24px;
  height: 50px;
  background-color: var(--red45);
  display: flex;
  align-items: center;
  font: 600 20px/150% "Manrope", sans-serif;
}
.contentContainer .headerContainer {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-bottom: 50px;
}
.contentContainer .headerContainer .header {
  font: 700 38px/150% "Manrope", sans-serif;
}
.contentContainer .dataContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  -ms-overflow-style: none;
  /* Internet Explorer and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.contentContainer .dataContainer::-webkit-scrollbar {
  display: none;
}
.contentContainer .dataContainer .genreData {
  height: 342px;
  min-width: 275px;
  padding: 30px;
  border-radius: 12px;
  border: solid 1px var(--black15);
  background-color: var(--black10);
  cursor: pointer;
}
.contentContainer .dataContainer .genreData .dataImageContainer {
  width: 100%;
  height: 91%;
  position: relative;
}
.contentContainer .dataContainer .genreData .dataImageContainer .fadeOut {
  width: 100%;
  height: 101%;
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
}
.contentContainer .dataContainer .genreData .dataImageContainer img {
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 12px;
}
.contentContainer .dataContainer .genreData .bottomArea {
  font: 600 18px/150% "Manrope", sans-serif;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentContainer .dataContainer .genreData .bottomArea .bottomBtn {
  display: flex;
  align-items: center;
}
.contentContainer .dataContainer .popularData {
  min-width: 284px;
  height: 377px;
  padding: 20px;
  gap: 20px;
}
.contentContainer .dataContainer .popularData .dataImageContainer {
  height: 84%;
  margin-bottom: 20px;
}
.contentContainer .dataContainer .popularData .dataImageContainer .voteDiv {
  font: 600 14px/150% "Manrope", sans-serif;
  position: absolute;
  width: 70px;
  height: 30px;
  top: 8px;
  right: 8px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6c700;
  border-radius: 4px;
  padding-right: 6px;
}
.contentContainer .dataContainer .popularData .bottomAreaPopular {
  width: 100%;
  color: var(--grey75);
  font: 500 16px/150% "Manrope", sans-serif;
  background-color: var(--black08);
  border: solid 1px var(--black15);
  border-radius: 51px;
  text-align: center;
  padding: 6px 10px 6px 10px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.contentContainer .dataContainer .dateDiv {
  background-color: var(--black08);
  border: solid 1px var(--black15);
  border-radius: 51px;
  position: absolute;
  top: 11px;
  left: 8px;
  font: 500 14px/150% "Manrope", sans-serif;
  color: var(--grey60);
  padding: 0 8px 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentContainer .dataContainer .dateDiv span {
  margin-left: 2px;
}
.tabIndicatorContainer {
  display: flex;
  padding: 16px;
  gap: 16px;
  background-color: var(--black06);
  border-radius: 12px;
  border: 1px var(--black12);
  margin-left: auto;
}
.tabIndicatorContainer .arrowContainer {
  padding: 14px;
  border-radius: 8px;
  background-color: var(--black10);
  border: 1px var(--black12), solid;
  cursor: pointer;
}
.tabIndicatorContainer .arrowContainer svg {
  width: 28px;
  height: 28px;
}
.tabIndicatorContainer .lineTabsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.tabIndicatorContainer .lineTabsContainer .tab {
  display: flex;
  height: 4px;
  width: 16px;
  background-color: var(--black20);
  border-radius: 100px;
}
.tabIndicatorContainer .lineTabsContainer .tabActive {
  background-color: var(--red45);
  width: 23px;
}
@media (max-width: 1700px) {
  .homeAboutContainer .homeImageDiv .aboutIconArea .aboutLogo {
    width: 300px;
    height: 300px;
  }
  .homeAboutContainer .aboutTextArea {
    padding: 0 150px;
  }
  .homeAboutContainer .aboutTextArea h1 {
    font-size: 48px;
  }
  .homeAboutContainer .aboutTextArea p {
    font-size: 14px;
  }
  .homeAboutContainer .aboutTextArea .watchButton {
    margin: 40px auto 1.5% auto;
    font: 600 14px/150% "Manrope", sans-serif;
    padding: 14px 24px;
  }
  .homeAboutContainer .aboutTextArea .watchButton svg {
    width: 15.3px;
    height: 16.45px;
  }
  .homeContainer .contentContainer {
    gap: 120px;
  }
  .homeContainer .contentContainer .fieldS {
    padding: 40px;
    gap: 80px;
  }
  .homeContainer .contentContainer .fieldS legend .title {
    font-size: 16px;
    padding: 8px 20px;
  }
  .homeContainer .contentContainer .fieldS .headerContainer {
    margin-bottom: 40px;
  }
  .homeContainer .contentContainer .fieldS .headerContainer .header {
    font-size: 30px;
  }
  .homeContainer .contentContainer .fieldS .dataContainer .genreData {
    min-width: 224px;
    height: 259px;
    border-radius: 10px;
    padding: 24px;
  }
  .homeContainer .contentContainer .fieldS .dataContainer .genreData .bottomArea {
    font-size: 16px;
  }
  .homeContainer .contentContainer .fieldS .dataContainer .genreData .bottomArea .bottomBtn {
    width: 15px;
    height: 13.5px;
  }
  .homeContainer .contentContainer .fieldS .dataContainer .popularData {
    min-width: 224px;
    height: 308px;
    border-radius: 10px;
    padding: 16px;
  }
  .homeContainer .contentContainer .fieldS .dataContainer .popularData .dataImageContainer {
    margin-bottom: 16px;
  }
  .homeContainer .contentContainer .fieldS .dataContainer .popularData .dataImageContainer .voteDiv {
    font-size: 13px;
    width: 62px;
    height: 24px;
  }
  .homeContainer .contentContainer .fieldS .dataContainer .popularData .bottomAreaPopular {
    font-size: 12px;
    padding: 4px 8px 4px 8px;
  }
  .homeContainer .contentContainer .fieldS .dataContainer .dateDiv {
    font-size: 12px;
    top: 10px;
  }
  .tabIndicatorContainer {
    padding: 12px;
    gap: 12px;
  }
  .tabIndicatorContainer .arrowContainer {
    padding: 10px;
    border-radius: 6px;
  }
  .tabIndicatorContainer .arrowContainer svg {
    width: 15px;
    height: 13.5px;
  }
  .tabIndicatorContainer .lineTabsContainer .tab {
    width: 14px;
  }
  .tabIndicatorContainer .lineTabsContainer .tabActive {
    width: 18px;
  }
  .gap30 {
    gap: 20px !important;
  }
}
@media (max-width: 1050px) {
  .streamMovieProject .navBarZ-Index .navBar .navLogo {
    width: 130px;
    height: 42px;
  }
  .streamMovieProject .aboutTextArea {
    padding: 0 100px;
  }
}
@media (max-width: 799px) {
  .homeAboutContainer {
    min-height: 549px;
  }
  .homeAboutContainer .homeImageDiv img {
    object-fit: cover;
  }
  .homeAboutContainer .homeImageDiv .fadeOutTop {
    background: linear-gradient(0, rgba(26, 26, 26, 0) 0%, #1a1a1a 87%);
  }
  .homeAboutContainer .homeImageDiv .fadeOutBottom {
    background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 95%);
  }
  .homeAboutContainer .homeImageDiv .aboutIconArea .aboutLogo {
    width: 200px;
    height: 200px;
  }
  .homeAboutContainer .aboutTextArea {
    padding: 0;
  }
  .homeAboutContainer .aboutTextArea h1 {
    font-size: 28px;
  }
  .homeAboutContainer .aboutTextArea p {
    font-size: 14px;
    margin-top: 10px;
  }
  .homeAboutContainer .aboutTextArea .watchButton {
    font: 600 14px/150% "Manrope", sans-serif;
    padding: 14px 24px;
    margin: 30px auto 4.5% auto;
  }
  .homeAboutContainer .aboutTextArea .watchButton svg {
    width: 15.3px;
    height: 16.45px;
  }
  .homeContainer {
    padding-top: 20px;
  }
  .homeContainer .contentContainer {
    gap: 50px;
  }
  .homeContainer .contentContainer .mobileTabsContainer {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black06);
    border: solid 1px var(--black15);
    border-radius: 8px;
  }
  .homeContainer .contentContainer .mobileTabsContainer .mobileTab {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 6px;
    font: 500 14px/150% "Manrope", sans-serif;
    color: var(--grey60);
  }
  .homeContainer .contentContainer .mobileTabsContainer .mobileTabActive {
    color: var(--white);
    background-color: var(--black12);
  }
  .homeContainer .contentContainer .headerContainer {
    margin-bottom: 40px;
  }
  .homeContainer .contentContainer .headerContainer .header {
    font-size: 24px;
  }
  .homeContainer .contentContainer .dataContainer .genreData {
    min-width: 181px;
    height: 201px;
    border-radius: 10px;
    padding: 20px;
  }
  .homeContainer .contentContainer .dataContainer .genreData .bottomArea {
    font-size: 14px;
  }
  .homeContainer .contentContainer .dataContainer .genreData .bottomArea .bottomBtn {
    width: 12.5px;
    height: 11.25px;
  }
  .homeContainer .contentContainer .dataContainer .popularData {
    min-width: 178.4px;
    height: 259px;
    border-radius: 10px;
    padding: 12px;
  }
  .homeContainer .contentContainer .dataContainer .popularData .dataImageContainer {
    margin-bottom: 12px;
  }
  .homeContainer .contentContainer .dataContainer .popularData .dataImageContainer .voteDiv {
    font-size: 11px;
    width: 52px;
    height: 18px;
  }
  .homeContainer .contentContainer .dataContainer .popularData .bottomAreaPopular {
    font-size: 10px;
    padding: 4px 8px 4px 8px;
  }
  .homeContainer .contentContainer .dataContainer .dateDiv {
    font-size: 10px;
    top: 8px;
  }
  .homeContainer .contentContainer .dataContainer .dateDiv svg {
    width: 18px;
    height: 18px;
  }
  .tabIndicatorContainer {
    padding: 12px;
    gap: 12px;
  }
  .tabIndicatorContainer .arrowContainer {
    padding: 10px;
    border-radius: 6px;
  }
  .tabIndicatorContainer .arrowContainer svg {
    width: 15px;
    height: 13.5px;
  }
  .tabIndicatorContainer .lineTabsContainer .tab {
    width: 14px;
  }
  .tabIndicatorContainer .lineTabsContainer .tabActive {
    width: 18px;
  }
  .gap30 {
    gap: 20px !important;
  }
}
.empty {
  color: red;
}
