.streamMovieProject {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  background-color: var(--black08);
  padding: 120px 160px 0 160px;
  position: relative;
}
.streamMovieProject .navBarZ-Index {
  background-color: var(--black06);
}
.streamMovieProject .navBarZ-Index .navBar {
  z-index: 10;
  width: 100%;
  max-width: 100%;
  height: 120px;
  padding: 0 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
}
.streamMovieProject .navBarZ-Index .navBar .activeNavBarItem {
  background-color: var(--black10);
  color: var(--white);
  font: 500 18px/150% "Manrope", sans-serif;
}
.streamMovieProject .navBarZ-Index .navBar .navButtonsContainer {
  width: 586px;
  height: 75px;
  padding: 10px;
  border: 4px solid var(--black12);
  border-radius: 12px;
  color: var(--grey75);
  display: flex;
  align-items: center;
  justify-self: center;
  justify-content: space-around;
  background-color: var(--black06);
  position: absolute;
  inset: 0;
  margin: auto;
}
.streamMovieProject .navBarZ-Index .navBar .navButtonsContainer li a {
  display: block;
  padding: 14px 24px;
  border-radius: 8px;
  cursor: pointer;
  font: 400 18px/150% "Manrope", sans-serif;
}
.streamMovieProject .navBarZ-Index .navBar .navButtonsContainer li :hover {
  background-color: var(--black10);
}
.streamMovieProject .navBarZ-Index .navBar svg {
  cursor: pointer;
}
.streamMovieProject .footer {
  width: 100%;
  max-width: 100%;
  padding: 100px 160px 50px 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--black06);
  position: absolute;
  left: 0;
  color: var(--grey60);
  font: 500 18px/150% "Manrope", sans-serif;
}
.streamMovieProject .footer .footerLinkContainer {
  flex: 1;
  min-width: 165px;
}
.streamMovieProject .footer .footerLinkContainer ul li {
  margin-bottom: 14px;
}
.streamMovieProject .footer .footerLinkContainer ul li span {
  cursor: pointer;
}
.streamMovieProject .footer .footerLinkContainer ul > li:nth-child(1) {
  font: 600 20px/150% "Manrope", sans-serif;
  color: var(--white);
  margin-bottom: 24px;
}
.streamMovieProject .footer .footerLinkContainer .connectIcons {
  display: flex;
  gap: 14px;
}
.streamMovieProject .footer .footerLinkContainer .connectIcons .iconDiv {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black10);
  border: solid 1px var(--black15);
  border-radius: 8px;
  cursor: pointer;
}
.streamMovieProject .footer .footerLinkContainer .connectIcons .iconDiv path {
  transition: 200ms;
}
.streamMovieProject .footer .footerLinkContainer .connectIcons .iconDiv:hover path {
  transition: 200ms;
  fill: var(--red60);
}
.streamMovieProject .footer .copyRContainer {
  width: 100%;
  height: 50px;
  margin-top: 100px;
  display: flex;
  align-items: flex-end;
  border-top: solid 1px var(--black15);
  color: var(--grey60);
  align-self: flex-end;
}
.streamMovieProject .footer .copyRContainer ul {
  display: flex;
  width: 100%;
}
.streamMovieProject .footer .copyRContainer ul li {
  margin-left: 20px;
}
.streamMovieProject .footer .copyRContainer ul li span {
  cursor: pointer;
}
.streamMovieProject .footer .copyRContainer ul > li:nth-child(1) {
  flex: 1;
  margin-left: 0;
}
.streamMovieProject .footer .copyRContainer ul > li:nth-child(3) {
  border-right: solid 1px var(--black15);
}
.streamMovieProject .footer .copyRContainer ul > li:nth-child(5) {
  border-right: solid 1px var(--black15);
}
@media (max-width: 1700px) {
  .streamMovieProject {
    padding: 98px 80px 0 80px;
  }
  .streamMovieProject .navBarZ-Index .navBar {
    height: 98px;
    padding: 0 80px;
  }
  .streamMovieProject .navBarZ-Index .navBar .navLogo {
    width: 165px;
    height: 50px;
  }
  .streamMovieProject .navBarZ-Index .navBar .activeNavBarItem {
    font-size: 14px;
  }
  .streamMovieProject .navBarZ-Index .navBar .navButtonsContainer {
    padding: 8px;
    width: 516px;
    height: 70px;
  }
  .streamMovieProject .navBarZ-Index .navBar .navButtonsContainer li a {
    font: 400 16px/150% "Manrope", sans-serif;
    padding: 12px 20px;
  }
  .streamMovieProject .navBarZ-Index .navBar svg {
    width: 24px;
    height: 24px;
  }
  .streamMovieProject .footer {
    padding: 80px 80px 40px 80px;
    font-size: 16px;
  }
  .streamMovieProject .footer .footerLinkContainer ul > li:nth-child(1) {
    font-size: 18px;
  }
  .streamMovieProject .footer .footerLinkContainer .connectIcons .iconDiv {
    width: 44px;
    height: 44px;
  }
  .streamMovieProject .footer .copyRContainer {
    font: 400 14px/150% "Manrope", sans-serif;
    margin-top: 80px;
  }
}
@media (max-width: 1050px) {
  .streamMovieProject .navBarZ-Index .navBar {
    height: 98px;
    padding: 0 80px;
  }
  .streamMovieProject .navBarZ-Index .navBar .navLogo {
    width: 165px;
    height: 50px;
  }
  .streamMovieProject .navBarZ-Index .navBar .activeNavBarItem {
    font-size: 10px;
  }
  .streamMovieProject .navBarZ-Index .navBar .navButtonsContainer {
    padding: 4px;
    width: 310px;
    height: 54px;
  }
  .streamMovieProject .navBarZ-Index .navBar .navButtonsContainer li a {
    font: 400 10px/150% "Manrope", sans-serif;
    padding: 10px;
  }
  .streamMovieProject .navBarZ-Index .navBar svg {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 799px) {
  .streamMovieProject {
    padding: 26px 16px 0 16px;
  }
  .streamMovieProject .navBarZ-Index .navBar {
    height: 76px;
    padding: 0 16px;
  }
  .streamMovieProject .navBarZ-Index .navBar .navLogo {
    width: 116px;
    height: 35px;
  }
  .streamMovieProject .navBarZ-Index .navBar .hamburgerMenuIconContainer {
    padding: 6px 6px 2px 6px;
    border: solid 2px var(--black15);
    border-radius: 6px;
    background-color: var(--black06);
  }
  .streamMovieProject .navBarZ-Index .navBar .activeHamburgerMenu {
    border: solid 0.5px var(--red45);
  }
  .streamMovieProject .navBarZ-Index .navBar .navButtonsContainer {
    z-index: 20;
    padding: 8px;
    height: auto;
    width: 200px;
    flex-direction: column;
    inset: initial;
    right: 12px;
    top: 62px;
    margin: 0;
    align-items: stretch;
    border-radius: 8px;
    border: solid 0.5px var(--red45);
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: all 200ms;
  }
  .streamMovieProject .navBarZ-Index .navBar .navButtonsContainer li a {
    font: 400 14px/150% "Manrope", sans-serif;
    padding: 12px 20px;
  }
  .streamMovieProject .navBarZ-Index .navBar .navButtonsContainer .mobileSearchIcon {
    float: right;
  }
  .streamMovieProject .navBarZ-Index .navBar .activeNavButtons {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
  }
  .streamMovieProject .navBarZ-Index .navBar .activeNavBarItem {
    font-size: 14px;
  }
  .streamMovieProject .navBarZ-Index .navBar svg {
    width: 24px;
    height: 24px;
  }
  .streamMovieProject .navBarZ-Index .navBar > svg:nth-child(4) {
    display: none;
  }
  .streamMovieProject .footer {
    padding: 50px 16px 20px 16px;
    font-size: 14px;
  }
  .streamMovieProject .footer .footerLinkContainer {
    margin-bottom: 30px;
  }
  .streamMovieProject .footer .footerLinkContainer ul > li:nth-child(1) {
    font-size: 16px;
  }
  .streamMovieProject .footer .footerLinkContainer .connectIcons .iconDiv {
    width: 44px;
    height: 44px;
  }
  .streamMovieProject .footer .copyRContainer {
    font: 400 14px/150% "Manrope", sans-serif;
    margin-top: 50px;
    height: 82px;
  }
  .streamMovieProject .footer .copyRContainer ul {
    flex-wrap: wrap;
  }
  .streamMovieProject .footer .copyRContainer ul li {
    display: flex;
    margin: 0 16px 0 0;
  }
  .streamMovieProject .footer .copyRContainer ul > li:nth-child(1) {
    flex-basis: 100%;
    font-size: 16px;
    display: flex;
    margin-bottom: 20px;
  }
}
.empty {
  color: red;
}
