.movieDetail {
  color: var(--white);
  max-width: 100%;
}
.movieDetail .divTitle {
  font: 500 18px/150% "Manrope", sans-serif;
  color: var(--grey60);
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.movieDetail .detailContainer {
  width: 100%;
  display: flex;
  gap: 20px;
  /* detailLeft */
  /* detailRight */
}
.movieDetail .detailContainer .detailLeft {
  display: flex;
  flex-direction: column;
  gap: 30px;
  flex: 2;
  max-width: 66.6%;
}
.movieDetail .detailContainer .detailLeft .overview {
  background-color: var(--black10);
  border-radius: 12px;
  border: solid 1px var(--black15);
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 50px;
  font: 500 18px/150% "Manrope", sans-serif;
  color: var(--white);
}
.movieDetail .detailContainer .detailLeft .castArea {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 30px;
  background-color: var(--black10);
  border: solid 1px var(--black15);
  border-radius: 12px;
}
.movieDetail .detailContainer .detailLeft .castArea .castContainer {
  display: flex;
  gap: 20px;
  overflow: auto;
}
.movieDetail .detailContainer .detailLeft .castArea .castContainer .castCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.movieDetail .detailContainer .detailLeft .castArea .castContainer .castCard img {
  width: 226px;
  height: 269px;
  border-radius: 12px;
}
.movieDetail .detailContainer .detailLeft .castArea .castContainer .castCard .characterText {
  font: 400 18px/150% "Manrope", sans-serif;
  color: var(--grey60);
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.movieDetail .detailContainer .detailRight {
  background-color: var(--black10);
  max-width: 33.3%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 30px;
  padding: 50px;
  border-radius: 12px;
  border: solid 1px var(--black15);
}
.movieDetail .detailContainer .detailRight .releaseDate {
  font: 600 20px/150% "Manrope", sans-serif;
}
.movieDetail .detailContainer .detailRight .languagesArea .languagesContainer {
  display: flex;
  gap: 10px;
}
.movieDetail .detailContainer .detailRight .languagesArea .languagesContainer .languages {
  border-radius: 8px;
  background-color: var(--black08);
  border: solid 1px var(--black15);
  padding: 8px 14px;
  font: 500 18px/150% "Manrope", sans-serif;
}
.movieDetail .detailContainer .detailRight .ratingContainer {
  display: inline-flex;
  flex-direction: column;
  font: 600 20px/150% "Manrope", sans-serif;
  gap: 4px;
  background-color: var(--black08);
  border-radius: 8px;
  border: solid 1px var(--black15);
  padding: 16px;
}
.movieDetail .detailContainer .detailRight .ratingContainer .starsContainer {
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 2px;
}
.movieDetail .detailContainer .detailRight .ratingContainer .starsContainer .ratingText {
  font: 500 18px/100% "Manrope", sans-serif;
  margin-left: 4px;
  display: inline-flex;
}
.movieDetail .detailContainer .detailRight .genresArea .genresContainer {
  display: flex;
  gap: 10px;
}
.movieDetail .detailContainer .detailRight .genresArea .genresContainer .genres {
  border-radius: 8px;
  background-color: var(--black08);
  border: solid 1px var(--black15);
  padding: 8px 14px;
  font: 500 18px/150% "Manrope", sans-serif;
}
.movieDetail .detailContainer .detailRight .directorArea .directorContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.movieDetail .detailContainer .detailRight .directorArea .directorContainer .director {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: var(--black08);
  border: solid 1px var(--black15);
  padding: 14px;
  font: 500 18px/150% "Manrope", sans-serif;
  gap: 10px;
}
.movieDetail .detailContainer .detailRight .directorArea .directorContainer .director img {
  height: 60px;
  width: 56.56px;
  border-radius: 8px;
}
.movieDetail .trialHorizontal {
  width: 100%;
  height: 313px;
  padding: 100px 80px;
  border-radius: 12px;
  border: solid 1px #262626;
  position: relative;
}
.movieDetail .trialHorizontal .horizontalContainer {
  display: flex;
}
.movieDetail .trialHorizontal .horizontalContainer .horizontalText {
  display: flex;
  flex-direction: column;
  gap: 14px;
  flex: 3;
}
.movieDetail .trialHorizontal .horizontalContainer .horizontalText .horizontalBigText {
  font: 600 48px/150% "Manrope", sans-serif;
  color: var(--white);
  z-index: 10;
}
.movieDetail .trialHorizontal .horizontalContainer .horizontalText .horizontalSmallText {
  font: 400 18px/150% "Manrope", sans-serif;
  color: var(--grey60);
  z-index: 10;
}
.movieDetail .trialHorizontal .horizontalContainer .horizontalButton {
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.movieDetail .trialHorizontal .horizontalContainer .horizontalButton button {
  font: 600 18px/150% "Manrope", sans-serif;
  color: var(--white);
  padding: 18px 24px;
  border-radius: 8px;
  background-color: var(--red45);
  z-index: 10;
}
.movieDetail .trialHorizontal .fadeOutHorizontal {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(90deg, #0f0f0f 4%, rgba(20, 15, 15, 0.97) 22%, rgba(34, 14, 14, 0.91) 39%, rgba(229, 0, 0, 0.4) 100%);
}
/* DetailImage */
.detailImageContainer {
  width: 100%;
  height: 835px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  gap: 50px;
  padding: 50px 50px 20px 50px;
  display: flex;
  align-items: flex-end;
}
.detailImageContainer .dataInfoContainer {
  width: 100%;
  text-align: center;
  gap: 4px;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
}
.detailImageContainer .dataInfoContainer h1 {
  color: var(--white);
  font: 700 38px/150% "Manrope", sans-serif;
}
.detailImageContainer .dataInfoContainer p {
  color: var(--grey75);
  font: 500 18px/150% "Manrope", sans-serif;
}
.detailImageContainer .dataInfoContainer .infoButtons {
  margin-top: 30px;
  font: 600 18px/153% "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.detailImageContainer .dataInfoContainer .infoButtons .playBtn {
  background-color: var(--red45);
  color: var(--white);
  padding: 14px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}
.detailImageContainer .dataInfoContainer .infoButtons .actionBtn {
  padding: 14px;
  border-radius: 8px;
  background-color: var(--black06);
  border: solid 1px var(--black15);
  height: 56px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
