.movieAndShow {
  color: var(--white);
  max-width: 100%;
}
.sliderImageContainer {
  width: 100%;
  height: 835px;
  display: flex;
  overflow-x: hidden;
  position: relative;
}
.sliderImageContainer .imageContainer {
  min-width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 12px;
  gap: 50px;
  padding: 50px 50px 20px 50px;
  display: flex;
  align-items: flex-end;
  position: relative;
}
.sliderImageContainer .imageContainer .dataInfoContainer {
  width: 100%;
  text-align: center;
  gap: 4px;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.sliderImageContainer .imageContainer .dataInfoContainer h1 {
  color: var(--white);
  font: 700 38px/150% "Manrope", sans-serif;
}
.sliderImageContainer .imageContainer .dataInfoContainer p {
  color: var(--grey60);
  font: 500 18px/150% "Manrope", sans-serif;
}
.sliderImageContainer .imageContainer .dataInfoContainer .infoButtons {
  margin-top: 30px;
  font: 600 18px/153% "Manrope", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.sliderImageContainer .imageContainer .dataInfoContainer .infoButtons .playBtn {
  background-color: var(--red45);
  color: var(--white);
  padding: 14px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.sliderImageContainer .imageContainer .dataInfoContainer .infoButtons .actionBtn {
  padding: 14px;
  border-radius: 8px;
  background-color: var(--black06);
  border: solid 1px var(--black15);
  height: 56px;
  display: flex;
  align-items: center;
}
/* sliderTabIndicatorContainer */
.sliderTabIndicatorContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  display: flex;
  padding: 0 50px 20px 50px;
}
.sliderTabIndicatorContainer .arrowContainer {
  padding: 14px;
  border-radius: 8px;
  background-color: var(--black10);
  border: 1px var(--black12), solid;
  cursor: pointer;
}
.sliderTabIndicatorContainer .arrowContainer svg {
  width: 28px;
  height: 28px;
}
.sliderTabIndicatorContainer .lineTabsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.sliderTabIndicatorContainer .lineTabsContainer .tab {
  display: flex;
  height: 4px;
  width: 16px;
  background-color: var(--black20);
  border-radius: 100px;
}
.sliderTabIndicatorContainer .lineTabsContainer .tabActive {
  background-color: var(--red45);
  width: 23px;
}
.sliderImageFadeOut {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 13%;
  background: linear-gradient(180deg, rgba(26, 26, 26, 0) 0%, #1a1a1a 100%);
}
