.subscriptions {
  color: var(--white);
  max-width: 100%;
  margin-top: 100px;
}
.plansArea {
  display: flex;
  flex-direction: column;
  gap: 80px;
  .topContainer {
    display: flex;
    align-items: flex-end;
    gap: 100px;
    .textContainer {
      display: flex;
      flex-direction: column;
      gap: 14px;
      .topTitle {
        font: 700 48px/150% "Manrope", sans-serif;
        color: var(--white);
      }
      .topText {
        font: 400 18px/150% "Manrope", sans-serif;
        color: var(--grey60);
      }
    }
    .tabs {
      border-radius: 10px;
      padding: 14px 24px;
      background-color: var(--black12);
      font: 500 18px/150% "Manrope", sans-serif;
      color: var(--white);
      margin-left: auto;
    }
  }
  .itemsContainer {
    display: flex;
    gap: 30px;

    .planCard {
      display: flex;
      flex-direction: column;
      gap: 50px;
      padding: 50px;
      border-radius: 12px;
      border: 1px var(--black15) solid;
      background-color: var(--black10);
      .planText {
        display: flex;
        flex-direction: column;
        gap: 16px;
        h2 {
          font: 700 24px/150% "Manrope", sans-serif;
          color: var(--white);
        }
        p {
          font: 400 18px/150% "Manrope", sans-serif;
          color: var(--grey60);
        }
      }
    }
    .priceContainer {
      display: flex;
      .price {
        font: 600 40px/150% "Manrope", sans-serif;
        color: var(--white);
      }
      .planTime {
        font: 500 18px/150% "Manrope", sans-serif;
        color: var(--grey60);
      }
    }
    .buttonsContainer {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      .trialButton {
        justify-content: center;
        display: flex;
        flex: 1;
        padding: 18px 24px;
        background-color: var(--black08);
        border: 1px var(--black15) solid;
        border-radius: 8px;
        font: 600 18px/150% "Manrope", sans-serif;
        color: var(--white);
      }
      .choosePlanButton {
        .trialButton();
        background-color: var(--red45);
      }
    }
  }
}
.plansDetailArea {
  display: flex;
  flex-direction: column;
  gap: 80px;

  .topContainer {
    padding-right: 300px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    .plansDetailTitle {
      font: 700 48px/150% "Manrope", sans-serif;
      color: var(--white);
    }
    .plansDetailText {
      font: 400 18px/150% "Manrope", sans-serif;
      color: var(--grey60);
    }
  }
  .plansTable {
    overflow: auto;
    border: 1px var(--black15) solid;
    border-radius: 12px;

    table {
      border-spacing: 0;
      border-collapse: collapse;
      border-style: hidden;
      width: 100%;
      max-width: 100%;
      thead {
        background-color: var(--black06);
        border: 1px var(--black15) solid;

        font: 600 20px/150% "Manrope", sans-serif;
        color: var(--white);
        th {
          width: 25%;
          border: 1px var(--black15) solid;
          text-align: left;
          flex: 1;
          align-items: center;
          padding: 30px;
          .popularText {
            margin-left: 4px;
            padding: 6px 10px;
            border-radius: 2px;
            background-color: var(--red45);
            font: 600 14px/150% "Manrope", sans-serif;
            color: var(--white);
          }
        }
      }
      tbody {
        td {
          border: 1px var(--black15) solid;
          font: 500 18px/150% "Manrope", sans-serif;
          color: var(--grey60);
          padding: 30px;
        }
      }
    }
  }
}
