.support {
  color: var(--white);
  max-width: 100%;
  margin-top: 115px;
}
.contactArea {
  width: 100%;
  display: flex;
  gap: 80px;
  .contactLeft {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 14px;
    h1 {
      font: 700 48px/150% "Manrope", sans-serif;
      color: var(--white);
    }
    p {
      font: 400 18px/150% "Manrope", sans-serif;
      color: var(--grey60);
    }
    img {
      margin-top: 36px;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      border: solid 6px var(--black15);
      background-color: var(--black06);
    }
  }
}
/* ContactForm.tsx */
.contactRight {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: var(--black06);
  padding: 50px;
  border-radius: 12px;
  border: 1px var(--black15) solid;
  gap: 50px;
  .horizontalContainer {
    display: flex;
    gap: 50px;
  }
  .verticalContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
  }
  .titleDiv {
    font: 600 18px/150% "Manrope", sans-serif;
    color: var(--white);
  }
  .inpt {
    padding: 20px;
    background-color: var(--black08);
    border-radius: 8px;
    border: 1px var(--black15) solid;
    font: 400 18px/150% "Manrope", sans-serif;
    color: var(--grey60);
  }
  .sendButton {
    border-radius: 8px;
    padding: 18px 24px;
    background-color: var(--red45);
    color: var(--white);
    font: 600 18px/150% "Manrope", sans-serif;
    margin: auto;
  }
}
.questionsArea {
  display: flex;
  flex-direction: column;
  gap: 80px;
  width: 100%;
  .questionsTopContainer {
    display: flex;
    gap: 100px;
    justify-content: space-between;
    .questionsTitleContainer {
      display: flex;
      flex-direction: column;
      gap: 14px;

      .questionsTitle {
        font: 600 38px/150% "Manrope", sans-serif;
        color: var(--white);
      }
      .questionsText {
        font: 400 18px/150% "Manrope", sans-serif;
        color: var(--grey60);
      }
    }

    .askQuestionButton {
      align-self: flex-end;
      padding: 18px 24px;
      border-radius: 8px;
      background-color: var(--red45);
      color: var(--white);
      font: 600 18px/150% "Manrope", sans-serif;
    }
  }
  .questionsBottomContainer {
    display: flex;
    gap: 80px;

    .questionsHalfContainer {
      display: flex;
      flex-direction: column;
      flex: 1;

      .questionContainer {
        display: flex;
        align-items: center;
        gap: 24px;
        padding: 30px 34px;
        border-bottom: solid 1px var(--red45);
        border-image: linear-gradient(
            to right,
            var(--black08) 0%,
            var(--red45) 8%,
            var(--black08) 100%
          )
          1;

        .count {
          background-color: var(--black12);
          border: 1px var(--black15);
          border-radius: 10px;
          padding: 20px;
          font: 600 20px/150% "Manrope", sans-serif;
          color: var(--white);
        }
        .questionTextContainer {
          display: flex;
          flex-direction: column;
          gap: 20px;

          .questionTitle {
            font: 500 22px/150% "Manrope", sans-serif;
            color: var(--white);
          }
          .questionAnswer {
            font: 400 18px/150% "Manrope", sans-serif;
            color: var(--grey60);
          }
        }
        .plusIcon {
          width: 30px;
          height: 30px;
          margin-left: auto;
          flex-shrink: 0;
        }
      }
    }
  }
}

@media (max-width: 1700px) {
  .support {
    margin-top: 100px;

    .contactArea {
      gap: 50px;
      .contactLeft {
        gap: 10px;
        h1 {
          font-size: 38px;
        }
        p {
          font-size: 16px;
        }
        img {
          width: 429px;
          height: 380px;
          margin-top: 30px;
        }
      }
      .contactRight {
        padding: 40px;
        gap: 40px;

        .horizontalContainer {
          gap: 20px;
        }
        .verticalContainer {
          gap: 12px;
        }
        .titleDiv {
          font-size: 16px;
        }
        .inpt {
          padding: 16px;
          font-size: 14px;
        }
        .sendButton {
          padding: 14px 20px;
          font-size: 14px;
          border-radius: 6px;
        }
      }
    }
    .questionsArea {
      gap: 60px;
      .questionsTopContainer {
        gap: 80px;
        .questionsTitleContainer {
          gap: 10px;
          .questionsTitle {
            font-size: 28px;
          }
          .questionsText {
            font-size: 16px;
          }
        }
        .askQuestionButton {
          padding: 14px 20px;
          font-size: 14px;
          border-radius: 6px;
        }
      }
      .questionsBottomContainer {
        gap: 40px;
        .questionsHalfContainer .questionContainer {
          padding: 24px;
          gap: 16px;
          .count {
            padding: 16px;
            font-size: 16px;
            border-radius: 8px;
          }
          .questionTextContainer {
            gap: 14px;
            .questionTitle {
              font-size: 20px;
            }
            .questionAnswer {
              font-size: 16px;
            }
          }
          .plusIcon {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
    .trialHorizontal {
      height: 236px;
      padding: 80px 60px;
      .horizontalContainer {
        .horizontalButton button {
          padding: 14px 20px;
          font-size: 14px;
        }
        .horizontalText {
          gap: 10px;
          .horizontalBigText {
            font-size: 28px;
          }
          .horizontalSmallText {
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media (max-width: 1050px) {
  .support {
    margin-top: 40px;
    .contactArea {
      flex-wrap: wrap;
      .contactLeft {
        img {
          width: auto;
        }
      }
    }
  }
}
@media (max-width: 799px) {
  .support {
    margin-top: 60px;
    .contentContainer {
      gap: 80px;
    }
    .contactArea {
      gap: 50px;
      flex-wrap: wrap;
      .contactLeft {
        gap: 10px;
        flex-basis: 100%;
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 14px;
        }
        img {
          width: 100%;
          height: 344px;
          margin-top: 20px;
        }
      }
      .contactRight {
        padding: 24px;
        gap: 20px;
        flex-wrap: wrap;
        flex-basis: 100%;
        .horizontalContainer {
          gap: 20px;
          flex-wrap: wrap;
        }
        .verticalContainer {
          gap: 12px;
        }
        .titleDiv {
          font-size: 16px;
        }
        .inpt {
          padding: 16px;
          font-size: 14px;
        }
        .sendButton {
          padding: 14px 20px;
          font-size: 14px;
          border-radius: 6px;
        }
      }
    }
    .questionsArea {
      gap: 40px;
      .questionsTopContainer {
        gap: 20px;
        flex-wrap: wrap;
        .questionsTitleContainer {
          gap: 10px;
          .questionsTitle {
            font-size: 20px;
          }
          .questionsText {
            font-size: 14px;
          }
        }
        .askQuestionButton {
          padding: 14px 20px;
          font-size: 14px;
          border-radius: 6px;
        }
      }
      .questionsBottomContainer {
        gap: 0;
        flex-wrap: wrap;
        .questionsHalfContainer {
          gap: 20px;
          flex-basis: 100%;
          .questionContainer {
            padding: 20px 10px;
            gap: 16px;
            .count {
              padding: 16px;
              font-size: 16px;
              border-radius: 8px;
            }
            .questionTextContainer {
              gap: 14px;
              .questionTitle {
                font-size: 20px;
              }
              .questionAnswer {
                font-size: 16px;
              }
            }
            .plusIcon {
              width: 24px;
              height: 24px;
            }
          }
        }
      }
    }
    .trialHorizontal {
      height: 344px;
      padding: 30px 50px;
      flex-wrap: wrap;
      display: flex;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: -530px 47px;
      .horizontalContainer {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        .horizontalButton button {
          padding: 14px 20px;
          font-size: 14px;
          flex-basis: 100%;
        }
        .horizontalText {
          gap: 10px;
          flex-basis: 100%;
          .horizontalBigText {
            font-size: 24px;
          }
          .horizontalSmallText {
            font-size: 14px;
          }
        }
      }
      .fadeOutHorizontal {
        background: linear-gradient(
          180deg,
          #0f0f0f 4%,
          rgba(20, 15, 15, 0.97) 22%,
          rgba(34, 14, 14, 0.91) 39%,
          rgba(229, 0, 0, 0.4) 100%
        );
      }
    }
  }
}
.empty {
  color: red;
}
